

<form class="form-inline mt-2" method="get" action="/User/searchaction">
    <div class="searchbox">
        <div class="form-group">
            <label> Name </label>
                <input type="text" class="form-control mr-2" placeholder=" Enter Drug name  " name="Drug_Name">

            <label> Price </label>
                <input type="text" class="form-control mr-2" placeholder=" Enter price      " name="Drug_price">

            <label> Quantity </label>

                <input type="number class="form-control mr-2" placeholder=" Enter Quantity   " name="Drug_Quantity">


        </div>
        <button type="submit" class="btn btn-primary mb-2"> Add </button>
    </div>
</form>