
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet2.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    @Html.Partial("NavBar")
    @Html.Partial("Add_Drug")
    

</body>
</html>

