

    <form class="form-inline mt-2" method="get" action="/User/searchaction">
        <div class="searchbox">
           <div class="form-group">
              <input type="text"class="form-control mr-2"  placeholder="Enter drug name.."name="searchvalue">
           </div>
             <button type="submit" class="btn btn-primary mb-2"> Search </button>
        </div>
    </form>

